@font-face {
    font-family: 'Arimo-Regular';
    font-weight: 400;
    font-style: normal;
    src: local('Arimo-Regular'),
        url('../fonts/Arimo-Regular.woff2') format('font-woff2'),
        url('../fonts/Arimo-Regular.woff') format('woff');
    font-display: swap;
}
@font-face {
    font-family: 'Arimo-Medium';
    font-weight: 500;
    font-style: normal;
    src: local('Arimo-Medium'),
        url('../fonts/Arimo-Medium.woff2') format('font-woff2'),
        url('../fonts/Arimo-Medium.woff') format('woff');
    font-display: swap;
}
@font-face {
    font-family: 'Arimo-SemiBold';
    font-weight: 600;
    font-style: normal;
    src: local('Arimo-SemiBold'),
        url('../fonts/Arimo-SemiBold.woff2') format('font-woff2'),
        url('../fonts/Arimo-SemiBold.woff') format('woff');
    font-display: swap;
}

@font-face {
    font-family: 'JosefinSans-Bold';
    font-weight: 700;
    font-style: normal;
    src: local('JosefinSans-Bold'),
        url('../fonts/JosefinSans-Bold.woff2') format('font-woff2'),
        url('../fonts/JosefinSans-Bold.woff') format('woff');
    font-display: swap;
}
@font-face {
    font-family: 'JosefinSans-MediumItalic';
    font-weight: 500;
    font-style: italic;
    src: local('JosefinSans-MediumItalic'),
        url('../fonts/JosefinSans-MediumItalic.woff2') format('font-woff2'),
        url('../fonts/JosefinSans-MediumItalic.woff') format('woff');
    font-display: swap;
}
@font-face {
    font-family: 'JosefinSans-Medium';
    font-weight: 500;
    font-style: normal;
    src: local('JosefinSans-Medium'),
        url('../fonts/JosefinSans-Medium.woff2') format('font-woff2'),
        url('../fonts/JosefinSans-Medium.woff') format('woff');
    font-display: swap;
}
@font-face {
    font-family: 'JosefinSans-Regular';
    font-weight: 400;
    font-style: normal;
    src: local('JosefinSans-Regular'),
        url('../fonts/JosefinSans-Regular.woff2') format('font-woff2'),
        url('../fonts/JosefinSans-Regular.woff') format('woff');
    font-display: swap;
}
@font-face {
    font-family: 'JosefinSans-Light';
    font-weight: 300;
    font-style: normal;
    src: local('JosefinSans-Light'),
        url('../fonts/JosefinSans-Light.woff2') format('font-woff2'),
        url('../fonts/JosefinSans-Light.woff') format('woff');
    font-display: swap;
}