.container {
}
.header{
    &__wrap{
        display: flex;
        width: 100%;
        height: 100vh;
        overflow: hidden;
    }
    &__item{
        flex: 0 1 50%;

        &.header__img-bg{
            background: url(../images/bg-form.jpg) center/cover no-repeat;
        }
        &.header__info{
            padding: 65px 100px;
            display: flex;
            flex-direction: column;
        }
    }
    &__logo{
        margin-bottom: 88px;
        display: flex;
    }
    &__btn{
        margin-top: 40px;
    }
    &__login{
        margin-top: auto;
        color: $gray;
    }
    &__link{
        color: $red;
    }
}

@media (max-width: 960px){
    .header{
        &__item{
            &.header__info{
                padding: 60px 30px;
            }
        }
    }
}
@media (max-width: 768px){
    .header{
        &__link{
            display: block;
        }
    }
}

@media (max-width: 678px){
    .header{
        &__wrap{
            display: block;
        }
        &__item.header__info{
            height: 100%;
        }
    }
}
@media (max-width: 378px){
    .header{
        &__item.header__info{
            padding: 60px 18px;
        }
    }
}